<!--<%= resource_name.to_s.humanize %>-->


<%= render layout: 'layouts/forum_layout' do %>
<div class="row text-center">
  <div class="col-sm-12 col-md-7 col-centered">
    <div class="main-list">
      <div id="profile-settings" class="cont-forum">
        <h4 class="text-center" >Impostazioni utente</h4>
        <div class = "row">
          <div class = "col-xs-12 col-sm-8">
            <div class = "tab-content">
              <div role="tabpanel" class="tab-pane active" id="update-data"">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                <%= devise_error_messages! %>

                <div class="input-group">
                  <%= f.text_field :username, autofocus: true, class: 'form-control', placeholder: "Nuovo username" %>
                  <span class="input-group-addon"><i class="glyphicon glyphicon-ok"></i></span>
                </div>
                <div class="input-group">
                  <%= f.text_field :occupation, class: 'form-control', placeholder: "Occupazione" %>
                  <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase" ar></i></span>
                </div>
                <div class="input-group">
                  <%= f.date_field :birth_date,id: 'datepicker', class: 'form-control datepicker', placeholder: "Data di nascita"  %>
                  <span class="input-group-addon"><i class="glyphicon glyphicon-th" ar></i></span>
                </div>

                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>
                
                <div class="input-group">
                  <%= f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder: "Password corrente" %>
                  <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                </div>
                
                  <%= button_tag class: "btn btn-primary pull-right" do %>
                     <span class="glyphicon glyphicon-refresh"></span> Aggiorna 
                  <% end %>
              </div>
              
              <div id="update-password" class="tab-pane fade">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                  <%= devise_error_messages! %>

		              <div class="input-group">
                    <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "Nuova password" %>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                  </div>
                 
                  <div class="input-group">
                    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: "Conferma password" %>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-ok"></i></span>
                  </div>
                  
                  <div class="input-group">
                    <%= f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder: "Password corrente" %>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                  </div>

                    <%= button_tag class: "btn btn-primary pull-right" do %>
                       <span class="glyphicon glyphicon-refresh"></span> Aggiorna 
                    <% end %>

                <% end %>
              </div>
           </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <ul class="nav nav-pills border-left">
              <li class="active"><a data-toggle="tab" href="#update-data">Modifica dati</a> </li>
              <li> <a data-toggle="tab" href="#update-password">Modifica password</a> </li>
              <li ><%= link_to "Cancella utente", registration_path(resource_name), data: { confirm: "Perderai tutti i dati. Sei sicuro?" }, method: :delete %></li>
              <% end %>
            </ul>
          </div>
          
          </div>
        </div>
      </div>
   </div>
</div>

<% end %>

<script>
  $( function() {
    $( "#datepicker" ).datepicker({ dateFormat: 'dd-mm-yy' });
  } );
</script>



















