<li>
  <div class="cont-forum comment">
    <div class="row">
      <div class="col-xs-3 col-sm-2">
        <div class="avatar">
          <%= image_tag comment.user.avatar.thumb.url, alt: "Immagine del profilo", class: "img-circle" %>
          <p><%= link_to comment.user.username, comment.user %></p>
        </div>
      </div>
      <div class="col-xs-9 col-sm-10">
        <div class="comment-content border-bottom">
          <div class="row">
            <div class="col-xs-10 col-sm-11">
              <div class="padding-text">
	              <%= comment.content %>
	            </div>
	          </div>
            <div class="col-xs-2 col-sm-1">
              <% if current_user && (comment.user == current_user) %>
		              <%= link_to micropost_comment_path(comment.micropost, comment), method: 'delete',
		                 data: { confirm: "Vuoi cancellare il commento?" } do %>
		                 <span class="pull-right glyphicon glyphicon-remove"></span>
		              <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="comment-info  pull-right">
          <span class="glyphicon glyphicon-time"></span><span class="time-ago"><%= time_ago_in_words(comment.created_at) %></span>
        </div>
      </div>
    </div>
  </div>
</li>
