<%= render layout: 'layouts/forum_layout' do %>
  <div class="row">
    <div class="col-xs-12 col-md-8">
      Profilo
      <%= @user.username %>
      <%= @user.email %>
      <span>Cambia immagine</span>
      <% if current_user == @user %>
        <%= form_for(current_user, url: avatar_upload_path(current_user)) do |f| %>
          <div class="hiddenfile">
            <%= f.file_field :picture %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-4">
      Sidebars
    </div>
  </div>
<% end %>
