<%= render layout: 'layouts/forum_layout' do %>
  <div class="row">
    <div id="profile" class="col-xs-12 col-md-8">
       <div class="main-list">
        <div class="cont-forum profile">
          <div class="row">
            <div class="col-xs-4 col-sm-3">
              <div class="user-avatar-container">
                <%= image_tag @user.avatar.small.url, alt: "Immagine del profilo", class: "img-responsive" %>
                <% if current_user == @user %>
                  <span>Cambia immagine</span>
                  <%= form_for(current_user, url: avatar_upload_path(current_user)) do |f| %>
                    <div class="hiddenfile">
                      <%= f.file_field :avatar %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="col-xs-8 col-sm-9">
              <h4>
                <%= @user.username %>
                <% if current_user == @user %>
                  <%= link_to edit_user_registration_path(id: @user.id) do %>
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                  <% end %>
                <% end %>
              </h4>
              <p>Nazionalità:</p>
              
              <p>Lettori:</p>
              <p>Genere preferito:</p>
              <div class="profile-btn border-top text-center">
                <% if current_user && current_user != @user %>
                  <% if !current_user.following?(@user) %>
                    <%= link_to "Segui", new_user_follow_path(id: @user.id), class: 'border-right' %>
                  <% else %>
                    <%= link_to "Non seguire", user_follow_path(id: @user.id), method: 'delete', class: 'border-right' %>
                  <% end %>
                <% end %>
                <a class="border-right" type="button">Racconti</a>
                <a type="button">Contatta</a>
              </div>
            </div>
          </div>
        </div>
        <h4> Racconti utente </h4>
        <% if @user.microposts.any? %>
          <ul class="post-list">
            <%= render @microposts %>
          </ul>
           <%= will_paginate @microposts,
                previous_label: "<span class=\"glyphicon glyphicon-chevron-left\"
                                  aria-hidden=\"true\"></span>",
                next_label:     "<span class=\"glyphicon glyphicon-chevron-right\"
                                  aria-hidden=\"true\"></span>",
                inner_window: 2, outer_window: 0 %>
        <% end %>
        
       </div>
    </div>
    <%= render 'layouts/user_sidebox' %>

  </div>
<% end %>

<script>
  /* autosubmit */
  input = $('#user_avatar');
  input.change(function(){
    if (input.val() != "")
      input.closest('form').submit();
  });
  /* apre l'input file utilizzando lo span */
  $('.user-avatar-container span').click(function(){
    input.trigger('click');
  });
</script>
