<% provide(:title, @micropost.title) %>
<% @no_header = true %>
<% @no_footer = true %>

<div id="background" class="container-fluid">
  <section id="forum-main" class="container">
    <nav id="nav-viewer" class="navbar navbar-inverse navbar-fixed-top">
	      <div class="navbar-header">
	        <p class="title-viewer"><%= link_to "x", micropost_path(@micropost), class: "back border-right hidden-xs" %><%= @micropost.title %>
	        <%= link_to "di #{@micropost.user.username}", user_path(@micropost.user.id), class: "username" %></p>
	        <button type="button" class="navbar-toggle collapsed" data-toggle=
	        "collapse" data-target="#navbar-content"
	        aria-expanded="false">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
	        </button>
	      </div>
	      <div id="navbar-content" class="collapse navbar-collapse">
	        <ul class="nav navbar-nav navbar-right">
		        <li>

			      <% if current_user != @micropost.user %>
          		  <% if current_user.following?(@micropost) %>
                  <%= link_to micropost_follow_path(id: @micropost.id), method: 'delete', class: "btn" do %>
                    Non mi piace <i class="glyphicon glyphicon-thumbs-up "></i>
                  <% end %>
          		  <% else %>
                  <%= link_to new_micropost_follow_path(id: @micropost.id), class: "btn" do %>
                    Mi piace <i class="glyphicon glyphicon-thumbs-up "></i>
                  <% end %>
                <% end %>
              <% end %>

		        </li>
		        <li>
		        <%= link_to @micropost.attachment.url, download: "micropost_#{@micropost.id}_attachment", class: "btn" do %>
			        Scarica <i class="glyphicon glyphicon-download"></i>
			      <% end %>
		        </li>
		        <li>
			        <a class="btn hidden-xs " onclick="window.print();return false;"><i class="glyphicon glyphicon-print"></i></a>
			        <a class="btn hidden-sm hidden-md hidden-lg" onclick="window.print();return false;">Stampa <i class="glyphicon glyphicon-print"></i></a>
		        </li>
	        </ul>
	      </div>

    </nav>
    <div id="cont-viewer">

      <% doc = Docx::Document.open(@micropost.attachment.path) %>
      <div class="cont-forum paper">
       <% doc.paragraphs.each do |p| %>
       	   <p><%= p.to_html.html_safe %></p>
      <% end %>
      </div>

    </div>
  </section>
</div>
