<li class="post"> <%# TODO: Alberto %>
  <div class="row">
    <div class="col-xs-4">
      <img style="height:50px;width:50px;"></img>
      <%= link_to micropost.user.username, "#"%>
    </div>
    <div class="col-xs-6">
      <h3><%= link_to micropost.title, micropost %></h3>
      <%= micropost.content %>
    </div>
    <div class="col-xs-2">
      <div class="row">
        <div class="col-xs-12">
          <i class="glyphicon glyphicon-eye-open"></i> <%= micropost.views %> Views
        </div>
        <div class="col-xs-12">
          <i class="glyphicon glyphicon-time"></i> <%= time_ago_in_words(micropost.created_at) %> ago
        </div>
      </div>
    </div>
  </div>
</li>
