<% provide(:title, @micropost.title) %>
<%= render layout: 'layouts/forum_layout' do %>
<div class="row">
  <div class="col-xs-12 col-md-8">
    <div class="main-list">
      <div class="cont-forum view">
        <div class="row">
          <div class="col-xs-3 col-sm-2">
            <div class="avatar">
              <%= image_tag @micropost.user.avatar.thumb.url, alt: "Immagine del profilo", class: "img-circle" %>
              <%= link_to @micropost.user.username, @micropost.user %>
            </div>
          </div>
          <div class="col-xs-9 col-sm-10 post-text">
              <h4 style="margin-bottom:0px;">
                <%= @micropost.title %>
                <% if user_signed_in? && current_user == @micropost.user %>
		              <%= link_to micropost_path(@micropost), :method => :delete, data: { confirm: "La tua storia verrà rimossa. Sei sicuro?" } do %>
                    <span class="glyphicon glyphicon-remove pull-right border-left"></span></a>
		              <% end %>
                  <%= link_to edit_micropost_path(@micropost) do %>
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                  <% end %>
              <% end %>
              </h4>
              <span class="badge" style="font-size: 9px;">#<%= @micropost.category.name %></span>
              <p style="margin-top:4px;">
                <%= @micropost.content %>
              </p>
          </div>
          <div class="col-xs-12">
	          <div class="border-top view-info">
		          <div class="col-xs-5 alter-padding2">
		            <span class="glyphicon glyphicon-time"></span><span class="time-ago"><%= time_ago_in_words(@micropost.created_at) %></span>
		          </div>
		          <div class="pull-right alter-padding col-xs-1">
		            <% if current_user && @micropost.has_attachment? %>
		              <%= link_to @micropost.attachment.url, download: @micropost.title do %>
              		  <span class="glyphicon glyphicon-download"></span>
		              <% end %>
		            <% else %>
                    <span class="glyphicon glyphicon-download disable"></span>
		            <% end %>
		          </div>
		          <div class="pull-right alter-padding col-xs-1">
		            <% if current_user && @micropost.has_attachment? %>
              		  <%= link_to micropost_viewer_path(@micropost) do %>
              		    <span class="glyphicon glyphicon-eye-open"></span>
              		  <% end %>
		            <% else %>
                    <span class="glyphicon glyphicon-eye-open disable"></span>
		            <% end %>
		          </div>
		          <div class="pull-right alter-padding2 col-xs-3">
		            <div class="pull-right">

                  <% if current_user && current_user != @micropost.user %>
              		  <% if current_user.following?(@micropost) %>
                  		<%= @micropost.followers_count %>
                      <%= link_to micropost_follow_path(id: @micropost.id), method: 'delete' do %>
                        <span class="glyphicon glyphicon-thumbs-up " data-container="body" data-toggle="popover"
              	                                  data-trigger="hover" data-content="Non mi piace"
              	                                  data-placement="top">
                        </span>
                      <% end %>
              		  <% else %>
                      <%= @micropost.followers_count %>
                      <%= link_to new_micropost_follow_path(id: @micropost.id) do %>
                        <span class="glyphicon glyphicon-thumbs-up " data-container="body" data-toggle="popover"
              	                                  data-trigger="hover" data-content="Mi piace"
              	                                  data-placement="top">
              	        </span>
                      <% end %>
                    <% end %>
                  <% else %>
                    <%= @micropost.followers_count %>
                    <span class="glyphicon glyphicon-thumbs-up disable"></span>
                  <% end %>
                </div>
		          </div>
	         </div>
          </div>
        </div>
       </div>
       <% if user_signed_in? %>
         <h4>Lascia un commento</h4>
         <div class="cont-forum comment-area">
           <div class="row">
             <div class="col-xs-3 col-sm-2">
               <div class="avatar">
                 <%= image_tag current_user.avatar.thumb.url, alt: "Immagine del profilo", class: "img-circle" %>
                 <p><%= link_to current_user.username, @micropost.user %></p>
               </div>
             </div>
             <div class="col-xs-9 col-sm-10">
                 <%= form_for [@micropost, @comment] do |f| %>
                   <%= render 'layouts/error_messages', object: f.object %>
                   <%= f.text_area :content, placeholder: "Scrivi un commento...", class: 'form-control' %>
                   <%= f.submit "Invia commento", class:'btn btn-primary pull-right' %>
                 <% end %>
             </div>
           </div>
         </div>
         <% if @micropost.comments.any? %>
           <h4>Lista commenti</h4>
           <div class="comment-container">
            <ul class="comments-list">
               <%= render @micropost.comments %>
            </ul>
           </div>
         <% end %>
       <% else %>
          <h5>Devi essere iscritto per visualizzare o scrivere commenti</h5>
       <% end %>
     </div>
   </div>
   <%= render 'layouts/forum_sidebox' %>
<% end %>
