<%= render layout: 'layouts/forum_layout' do %>
<div class="row">
  <div class="col-xs-12 col-md-8">
    <div class="main-list">
      <div class="cont-forum view">
        <div class="row">
          <div class="col-xs-3 col-sm-2">
            <div class="avatar">
              <%= image_tag @micropost.user.avatar.thumb.url, alt: "Immagine del profilo", class: "img-circle" %>
              <p><%= link_to @micropost.user.username, @micropost.user %></p>
            </div>
          </div>
          <div class="col-xs-9 col-sm-10 post-text">
              <h4><%= @micropost.title %><span class="glyphicon glyphicon-thumbs-up pull-right"><%= @micropost.followers_count %></span></h4>
              <p>
                <%= @micropost.content %>
              </p>
          </div>
          <div class="col-xs-12">
	     <div class="border-top view-info">
		<div class="col-xs-5">
		  <span class="glyphicon glyphicon-time"><%= time_ago_in_words(@micropost.created_at) %></span>
		</div>
		<div class="pull-right col-xs-1"">
		  <span class="glyphicon glyphicon-download">
		  <% if @micropost.has_attachment? %>
		    <%= link_to "Scarica", @micropost.attachment.url %>
		  <% else %>
		  <% end %></span>
		</div>
		<div class="pull-right col-xs-1">
		  <span class="glyphicon glyphicon-eye-open"></span>
		</div>
		<div class="pull-right col-xs-1">
		  <span class="glyphicon glyphicon-comment"></span>
		</div>
		<div class="pull-right col-xs-1">
		  <% if current_user.following?(@micropost) %>
        <%= link_to micropost_follow_path(id: @micropost.id), method: 'delete' do %>
          <span class="glyphicon glyphicon-thumbs-up " data-container="body" data-toggle="popover"
	                                  data-trigger="hover" data-content="Non mi piace"
	                                  data-placement="top"></span>
        <% end %>
		  <% else %>
        <%= link_to new_micropost_follow_path(id: @micropost.id) do %>
          <span class="glyphicon glyphicon-thumbs-up " data-container="body" data-toggle="popover"
	                                  data-trigger="hover" data-content="Mi piace"
	                                  data-placement="top"></span>
        <% end %>
      <% end %>
		</div>
	      </div>
          </div>
        </div>
       </div>
       <div class="padding-top">
        <h4>Lascia un commento</h4>
       </div>
       <div class="cont-forum comment-area">  
         <div class="row">
           <div class="col-xs-3 col-sm-2">
             <div class="avatar">
               <%= image_tag @micropost.user.avatar.thumb.url, alt: "Immagine del profilo", class: "img-circle" %>
               <p><%= link_to @micropost.user.username, @micropost.user %></p>
             </div>
           </div>
           <div class="col-xs-9 col-sm-10">
               <%= form_for [@micropost, @comment] do |f| %>
                 <%= render 'layouts/error_messages', object: f.object %>
                 <%= f.text_area :content, placeholder: "Scrivi un commento...", class: 'form-control' %>
                 <%= f.submit "Invia commento", class:'btn btn-primary pull-right' %>
               <% end %>
           </div>
         </div>
       </div>
       <h4>Lista commenti</h4>
      <%= render @micropost.comments %>
     </div>
   </div>
   
    <%= render 'layouts/forum_sidebox' %>
  
<div>
<% end %>

