<%= render layout: 'layouts/forum_layout' do %>
<div class="row">
  <div class="col-xs-12 col-md-8">
    <div class="main-list">
      <div class="cont-forum view">
        <div class="row">
          <div class="col-xs-2">
            <div class="avatar">
              <%= image_tag @micropost.user.avatar.thumb.url, alt: "Immagine del profilo", class: "img-circle" %>
              <p><%= link_to @micropost.user.username, @micropost.user %></p>
            </div>
          </div>
          <div class="col-xs-10">
            <h5><%= @micropost.title %></h5>
            <p><%= @micropost.content %></p>
            <div class="row">
             <div class="border-top view-info">
                <div class="col-xs-4">
                  <span class="glyphicon glyphicon-time"><%= time_ago_in_words(@micropost.created_at) %></span>
                </div>
                <div class="pull-right col-xs-1"">
                  <span class="glyphicon glyphicon-download">
                  <% if @micropost.has_attachment? %>
                    <%= link_to "Scarica", @micropost.attachment.url %>
                  <% else %>
                  <% end %></span>
                </div>
                <div class="pull-right col-xs-1">
                  <span class="glyphicon glyphicon-eye-open"></span>
                </div>
                <div class="pull-right col-xs-1">
                  <span class="glyphicon glyphicon-comment"></span>
                </div>
                <div class="pull-right col-xs-1">
                  <span class="glyphicon glyphicon-thumbs-up"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
       </div>
       <div class="cont-forum comment-area">
         <div class="row">
           <div class="col-xs-2">
             <div class="avatar">
               <%= image_tag @micropost.user.avatar.thumb.url, alt: "Immagine del profilo", class: "img-circle" %>
               <p><%= link_to @micropost.user.username, @micropost.user %></p>
             </div>
           </div>
           <div class="col-xs-10">
             <div class="padding-top">
               <%= form_for [@micropost, @comment] do |f| %>
                 <%= render 'layouts/error_messages', object: f.object %>
                 <%= f.text_area :content, placeholder: "Scrivi un commento...", class: 'form-control' %>
                 <%= f.submit "Invia commento", class:'pull-right' %>
               <% end %>
               <div class="comment-list">
                <%= render @micropost.comments %>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
  
  <aside class="col-xs-12 col-md-4">
    <div class="side-list">
      <h6>Amici</h6>
    </div>
    <div class="side-list">
      <h6>Classifica racconti</h6>
    </div>
  </aside>
<div>
<% end %>


 <!--<div class="post">
      <div class="row">
        <div class="col-xs-4">
          <img style="height:50px;width:50px;"></img>
          <%= link_to @micropost.user.username, @micropost.user %>
        </div>
        <div class="col-xs-6">
          <h3><%= @micropost.title %></h3>
          <%= @micropost.content %>
        </div>
        <div class="col-xs-2">
          <div class="row">
            <div class="col-xs-12">
              <i class="glyphicon glyphicon-eye-open"></i> <%= @micropost.views %> Views
            </div>
            <div class="col-xs-12">
              <i class="glyphicon glyphicon-time"></i> <%= time_ago_in_words(@micropost.created_at) %> ago
            </div>
            <div class="col-xs-12">
              <% if @micropost.has_attachment? %>
                <%= link_to "Scarica", @micropost.attachment.url %>
              <% else %>
                Nessun allegato
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="comment-area">
      <%= form_for [@micropost, @comment] do |f| %>
        <%= render 'layouts/error_messages', object: f.object %>
        <%= f.text_area :content, placeholder: "Scrivi un commento...", class: 'form-control' %>
        <%= f.submit "Invia commento" %>
      <% end %>
      <div class="comment-list">
        <%= render @micropost.comments %>
      </div>
    </div>
  </div>-->
