<aside class="col-xs-12 col-md-4">
    <div class="main-list">
      <div class="side-box">
        <div class="border-bottom">
          <h5>Categorie</h5>
        </div>
        <ul class="cats">
          <% Category.all.each do |c| %>
            <li><%= link_to c.name, controller: "microposts", action: "index", category: c.id %><span class="badge pull-right"> <%= c.microposts.count %> </span></a></li>
            <% end %>
        </ul>
      </div>
      <div class="side-box">
        <div class="border-bottom">
          <h5>Classifica racconti</h5>
        </div>
        <ul class="best-stories">
          <% Micropost.top5.each_with_index do |m, i| %>
            <li>
              <div class="avatar-ranking">
                <span>#<%= i += 1 %></span>
                <%= image_tag m.user.avatar.small.url, alt: "Immagine del profilo", class: "img-circle" %>
              </div>
              <div class="story-ranking">
                <h6><%= link_to m.title, m %><span class="badge glyphicon glyphicon-thumbs-up pull-right"><%= m.num %></span></h6>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </aside>
