<!DOCTYPE html>
<html>
<head>
  <title><%= page_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<%= render 'layouts/bootstrap_viewport' %>
	<%= render 'layouts/shim' %>
	<meta name="google-site-verification" content="tcchNZXEhaL4jXmYeRtPwEWQWRpUd44xNV_il7Lo8ZE" />
  <meta name="Bitbooks" content="Autore: A.N. Autore, 
Illustratore: P. Picture, Categoria: Libri, Prezzo: $ 17,99,
Lunghezza: 784 pagine">
</head>
<body>
  <div id="wrap">
    <%= render 'layouts/header' unless @no_header%>
    <%= render 'layouts/notice' %>
    <%= render 'layouts/alert' %>
    <%= yield %>
    <%#= render 'layouts/footer' unless @no_footer %>
  </div>
  <%#= debug(params) if Rails.env.development? %>
</body>
</html>
